*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;  /* Ensure full screen height */
  width: 100%;
  overflow-x: hidden;
  display: flex;
 
  /* background: url('/project-infinity/assets/images/login-sign-up/login.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
}


.container{

  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  height: auto;
  width: 100%;
  padding: 0 100px;
  padding-top: 60px;
  
}

/* .image {
  width: 50%;
  border: 2px solid black;

}

.image img{
  width: 100%;
 
object-fit: contain;
} */


.login-box{
  /* height: 100%; */
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
 background: white;
  /* padding-top: 50px; */
  padding: 30px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}


.login-box h2{
  font-size: 35px;
  margin: 30px;
  color: red;
  text-transform: capitalize;
}

.login-box #login-desc {
   font-size: 20px;
}

#loginForm{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}



#loginForm input{
color: white;
width: 300px;
padding: 8px 45px 8px 20px;
color: black;
outline: none;
}

#loginForm input::placeholder{
  color: grey;
}

#loginForm button{
  padding: 8px 90px;
  background: red;
  color: white;
  border: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover{
    background-color: darkred;
  }

}

.forgot-password a{
  text-decoration: none;
}

.signup-link {
  color: black;
}
.signup-link a{
  text-decoration: none;
}

.login-with{
text-transform: capitalize; 
  
}

.social-links {
  display: flex;
  gap:4rem ;
  font-size: 18px;
}

.social-links a {
  color: red;
  padding: 5px;
  text-transform: 0px 0px 4px rgba(0,0,0,0.7);
  transition: all 0.4s ease-in-out;

  &:hover{
    color: darkred;
  }
}

.fa-eye{

  position: absolute;
  top: 25%;
  left: 90%;
  display: none;
  cursor: pointer;

}

.fa-eye-slash{
  position: absolute;
  top: 25%;
  left: 90%;
  cursor: pointer;
} 


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


@media screen and (max-width:768px) {

  .login-box{
    padding: 20px;
  }

  .login-box h2 {
    font-size: 20px;
  }

  .login-box #login-desc{
    font-size: 15px;
  }

  .social-links{
    font-size: 15px;
  }

  /* #loginForm input{
    width: 200px;
  }

  #loginForm button{
    padding: 5px 70px;
  } */

  
}