body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
}

.search-page {
  width: 100%;
  display: flex;
justify-content: center;
  margin-top: 100px;
  text-align: center;
}

.search-box {
position: relative;
}

#searching{
  position: absolute;
  left: 95%;
  top: 22%;
  font-size: larger;
}

#liveSearchInput {
/* box-shadow: 0px 0px 4px rgba(0, 0, 0,0.5); */
border: 1px solid black;
outline: none;
width: 800px;
padding: 15px 70px;
border-radius: 30px;
}
#liveSearchInput::placeholder{
  text-transform: capitalize;
  font-weight: bold;
}

#suggestions {
  position: absolute;
  top: 110%;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 0 0 8px 8px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

#suggestions div {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#suggestions div:hover {
  background-color: #f0f0f0;
}


#emoji{
  font-size: 50px;
}