<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="header.css">
  <script src="https://kit.fontawesome.com/ba2faaa4dd.js" crossorigin="anonymous"></script>


</head>
<body>
  
<!-- <div class="header-main"> -->
  <header>
   
    <div class="nav-bar">
     
        <i class="fa-solid fa-bars menu-toggle" id="hamburger"></i>
     
      
      <div class="website-name">
       
        <h1> <i class="fa-solid fa-plate-wheat"></i> f<span id="o">o</span>odH<span id="u">u</span>b</h1>
      </div>

      <nav class="nav-links">
        <a href="../../../index.html"   id="home">Home</a>
        <a href="/frontend/pages/menu/menu.html" id="our-menu">Menu</a>
        <a href="/frontend/pages/offers/offer.html">Offers</a>
        <a href="/frontend/pages/about-us/about.html">About Us</a>
        <a href="/frontend/pages/contact/contact-us.html">Contact Us</a>
   

        

      </nav>
      
      

      <div class="nav-user">
        <div>
          <a href="/frontend/pages/searchBar/searchBar.html"><i class="fa-solid fa-magnifying-glass" ></i></a>
          <a href="/frontend/pages/dashboard/dashboard.html">  <i class="fa-solid fa-circle-user"></i></a>
         
         <a href=""> <i class="fa-solid fa-bag-shopping"></i></a>
          <nav>
            <a href="/frontend/pages/login/login.html" class="login-btn">Login</a>
          </nav>
       
        </div>
      
        
      
      </div>
    </div>
  </header>
 
<!-- <script src="./header.js"></script> -->


</body>
</html>